@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    
    display: flex;
    flex-direction: column;
    justify-content: left; 
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    gap: 15px;
    box-shadow: 8px 8px 0px rgb(0, 0, 0);
    border: 1px solid black;
}

.imagem {
    display: flex;
    justify-content: center;
    width: 270px;      
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.learning {
    font-size: 10px;
    width: 80px;
    background-color: hsl(47, 76%, 59%);
    border-radius: 5px;
}

.learning > h2 {
    text-align: center;
    padding: 7px;
}

.data {
    font-size: 14px;    
}

.titulo {
    font-size: 11px;
}

.texto {
    font-size: 13px;
    line-height: 1.5em;
    color: hsl(0, 0%, 50%);
}

.container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.foto {
    width: 30px;
    height: 30px;
}

img {
   width: 100%;
   height: 100%;
}

.autor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-size: 9px;
    text-align: left;
}

